#header{
    background-color: rgb(26, 198, 246); 
    text-align: center; 
    color: rgb(1, 2, 28); 
    font-family: sans-serif; 
    font-size: 15px; 
    padding: 4px;
}

#article{
    padding-top:5px ;
    font-family:'Courier New' ;
    font-size: 18px;
    color:azure ;
}
.pilihan{
    color: brown;
    font-size: 16px;
}

.penjelasan{
    width: 500px;
    height: 200px; 
    background-color: white; 
    color: black; 
    overflow: scroll; 
    border: thick 8px;
}